<!DOCTYPE html>
<html>
<head>
  <title>Yelpdemo</title>
  <!--Move render above stylesheet_link_tag as per Create a Custom Banner -->
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  

</head>
<body>

	<!--Use _navbar.html.erb-->
	<%= render 'layouts/navbar' %>
	<div class="container-fluid">
		<!--Put whatever is in views/pages here-->
		<%= yield %>
<%= render 'layouts/footer' %>
	</div>
	
</body>
</html>
